In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('../Resources/LoanStats_2019Q1.csv.zip')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.drop(columns='loan_status')

# Create our target
y = df['loan_status'].to_frame()

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,6.881700e+04,6.881700e+04,68817.000000,6.881700e+04
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.052138,2.219423,95.057627,30.626217,0.125972,0.0,2.100332e+05,6.133843e+04,29734.128558,5.572240e+04
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.390633,1.897432,8.326426,33.631463,0.336732,0.0,1.928088e+05,5.738798e+04,26795.394232,5.095845e+04
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,20.000000,0.000000,0.000000,0.0,3.600000e+03,2.350000e+02,100.000000,1.270000e+02
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.000000,93.000000,0.000000,0.000000,0.0,6.697700e+04,2.650300e+04,11600.000000,2.288000e+04
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,2.000000,100.000000,20.000000,0.000000,0.0,1.467100e+05,4.535700e+04,22100.000000,4.200000e+04
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,3.000000,100.000000,50.000000,0.000000,0.0,3.036400e+05,7.657000e+04,39300.000000,7.249900e+04
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,18.000000,19.000000,100.000000,100.000000,4.000000,0.0,3.292782e+06,1.295455e+06,509400.000000,1.426964e+06

In [8]:
# Check the balance of our target values
y['loan_status'].value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [9]:
X_types=X.dtypes.to_frame()

In [10]:
X_obs = []
for i in range(len(X_types.index)):
    if X_types[0][i] == 'object':
        X_obs.append(X_types.index[i])
# X_obs

In [11]:
X_bin_encoded = pd.get_dummies(X,columns=X_obs)

In [12]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

# Create X_train, X_test, y_train, y_test
X_train,X_test,y_train,y_test = train_test_split(X_bin_encoded,
                                                 y,
                                                 random_state=48,
                                                 stratify=y)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [21]:
# Resample the training data with the RandomOversampler
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({'low_risk': 51352, 'high_risk': 51352})

In [22]:
scaler = StandardScaler()

In [23]:
X_scaler = scaler.fit(X_train)

In [24]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
rf_model = RandomForestClassifier(n_estimators=500, random_state=1)

In [26]:
rf_model = rf_model.fit(X_train_scaled, y_train)

In [27]:
predictions = rf_model.predict(X_test_scaled)

In [28]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, predictions)

0.6836451647993038

In [29]:
# Display the confusion matrix
confusion_matrix(y_test,predictions)

array([[   32,    55],
       [    9, 17109]], dtype=int64)

In [30]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,predictions))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.78      0.37      1.00      0.50      0.61      0.34        87
   low_risk       1.00      1.00      0.37      1.00      0.61      0.39     17118

avg / total       1.00      1.00      0.37      1.00      0.61      0.39     17205

In [31]:
# List the features sorted in descending order by feature importance
importances=rf_model.feature_importances_
sorted(zip(rf_model.feature_importances_,X.columns),reverse=True)

[(0.07802384662327667, 'initial_list_status'),
 (0.07004473810749778, 'total_rec_prncp'),
 (0.06843188934483296, 'out_prncp'),
 (0.06534105463309635, 'total_acc'),
 (0.057071636633852355, 'revol_bal'),
 (0.02150059081782791, 'installment'),
 (0.02148111007753792, 'open_acc'),
 (0.0211806840924585, 'pub_rec'),
 (0.016651812394081016, 'acc_open_past_24mths'),
 (0.016337760331269758, 'annual_inc'),
 (0.01586494307271513, 'out_prncp_inv'),
 (0.015035339944755548, 'inq_last_12m'),
 (0.014860740808344462, 'delinq_2yrs'),
 (0.014752413419803026, 'loan_amnt'),
 (0.014647041809997628, 'num_tl_90g_dpd_24m'),
 (0.014265698256652932, 'num_tl_30dpd'),
 (0.014201012540427006, 'last_pymnt_amnt'),
 (0.014117214567074914, 'open_il_12m'),
 (0.013862503616854463, 'all_util'),
 (0.01313511248396218, 'tot_coll_amt'),
 (0.01307145019099326, 'home_ownership'),
 (0.01279185758912238, 'mths_since_rcnt_il'),
 (0.012757363769336524, 'total_rev_hi_lim'),
 (0.012555293347656822, 'pct_tl_nvr_dlq'),
 (0.012264671384032685, 'inq_last_6mths'),
 (0.012182090903293651, 'max_bal_bc'),
 (0.01213174142095796, 'num_tl_op_past_12m'),
 (0.011989216071216157, 'int_rate'),
 (0.011514206120865178, 'open_il_24m'),
 (0.011454580545743656, 'tot_cur_bal'),
 (0.011416454623107091, 'acc_now_delinq'),
 (0.010534919919925056, 'chargeoff_within_12_mths'),
 (0.010373206592281005, 'avg_cur_bal'),
 (0.010184257990480729, 'mths_since_recent_bc'),
 (0.009505343183925735, 'num_accts_ever_120_pd'),
 (0.009359307292040204, 'delinq_amnt'),
 (0.00913823332114803, 'bc_open_to_buy'),
 (0.008743546844378168, 'open_rv_12m'),
 (0.008618950021541704, 'num_actv_rev_tl'),
 (0.0085761551444312, 'num_rev_accts'),
 (0.008514988701190591, 'pymnt_plan'),
 (0.008378095413965976, 'num_actv_bc_tl'),
 (0.008083817734222695, 'open_rv_24m'),
 (0.008044859308344822, 'il_util'),
 (0.007967681587735385, 'mo_sin_rcnt_rev_tl_op'),
 (0.007859003596207802, 'mort_acc'),
 (0.007809698717308601, 'mths_since_recent_inq'),
 (0.007225662623051205, 'mo_sin_old_rev_tl_op'),
 (0.007022822644133269, 'open_act_il'),
 (0.0069411148423758826, 'num_op_rev_tl'),
 (0.006708554409527208, 'application_type'),
 (0.006572596614960789, 'total_bal_il'),
 (0.006306741394833866, 'mo_sin_rcnt_tl'),
 (0.0061074248455727925, 'next_pymnt_d'),
 (0.006081066378280908, 'bc_util'),
 (0.006064429526590715, 'collections_12_mths_ex_med'),
 (0.005859992286336121, 'debt_settlement_flag'),
 (0.005698530550970701, 'num_rev_tl_bal_gt_0'),
 (0.005339439955648084, 'issue_d'),
 (0.005141857857271947, 'open_acc_6m'),
 (0.00445373846894961, 'policy_code'),
 (0.004345441403768913, 'collection_recovery_fee'),
 (0.0042084349529721435, 'hardship_flag'),
 (0.00377667737029807, 'verification_status'),
 (0.003750601435276085, 'mo_sin_old_il_acct'),
 (0.0021256256863439976, 'total_bc_limit'),
 (0.002087772500873982, 'dti'),
 (0.0020198740349045884, 'tax_liens'),
 (0.0019558911028736688, 'total_il_high_credit_limit'),
 (0.001930787862618431, 'num_sats'),
 (0.0018540132155313912, 'num_il_tl'),
 (0.0016978468372812535, 'total_bal_ex_mort'),
 (0.0016570396983755014, 'pub_rec_bankruptcies'),
 (0.0014003254889306924, 'tot_hi_cred_lim'),
 (0.0009774660966211913, 'total_rec_int'),
 (0.0008129741903914604, 'percent_bc_gt_75'),
 (0.00031336833739640407, 'inq_fi'),
 (0.0, 'total_rec_late_fee'),
 (0.0, 'total_pymnt_inv'),
 (0.0, 'total_pymnt'),
 (0.0, 'total_cu_tl'),
 (0.0, 'recoveries'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'num_bc_tl'),
 (0.0, 'num_bc_sats')]

### Easy Ensemble AdaBoost Classifier

In [34]:
# Train the Classifier
from sklearn.ensemble import AdaBoostClassifier

In [38]:
ada = AdaBoostClassifier(random_state=1)
ada_model=ada.fit(X_train, y_train)

In [39]:
# Calculated the balanced accuracy score
predictions2 = ada_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, predictions2)

0.5577361599606786

In [40]:
# Display the confusion matrix
confusion_matrix(y_test,predictions2)

array([[  47,   40],
       [7271, 9847]], dtype=int64)

In [41]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test,predictions2))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.01      0.54      0.58      0.01      0.56      0.31        87
   low_risk       1.00      0.58      0.54      0.73      0.56      0.31     17118

avg / total       0.99      0.58      0.54      0.73      0.56      0.31     17205